extends layout

block content
  h1= title
  - let item = results
   div.container-fluid
    div.row
     each wolf,index in item
      div.col-sm-2(onClick=`buy(${index})`) #{wolf.wolf_name}
      div.col-sm-2(onClick=`buy(${index})`) #{wolf.wolf_age}
      div.col-sm-2(onClick=`buy(${index})`) #{wolf.wolf_price}
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }